bin/
src/main/resources/*
.gradle*
.settings/org.eclipse.buildship.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.ltk.core.refactoring.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.springframework.ide.eclipse.prefs
src/test/java/howmuch/DbTest.java
src/test/java/howmuch/HowMuchApplicationTests.java
src/test/java/howmuch/DbTest.java
src/test/java/howmuch/HowMuchApplicationTests.java
build/*
