src/main/resources/*
bin/main/howmuchAPIServer.keystore.p12
.gradle*
bin/main/testvision01-13aa4b7c04e3.json
bin/test/howmuch/DbTest.class
bin/test/howmuch/HowMuchApplicationTests.class
.settings/org.eclipse.buildship.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.ltk.core.refactoring.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.springframework.ide.eclipse.prefs
bin/main/application.properties
src/test/java/howmuch/DbTest.java
src/test/java/howmuch/HowMuchApplicationTests.java
src/test/java/howmuch/DbTest.java
src/test/java/howmuch/HowMuchApplicationTests.java
build/*
